
#topPane {
    -fx-background-color: linear-gradient(to right, #11998E, #38EF7D);
    -fx-padding: 15px;
    -fx-border-radius: 10px;
    -fx-border-color: #dddddd;
}


#Gallery {
    -fx-font-size: 60px;
    -fx-font-weight: bold;
    -fx-alignment: center-left;
    -fx-text-fill: #4A4A4A;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0.3, 2, 2);
}


#photos {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: #505050;
    -fx-alignment: center-left;
}


.button {
    -fx-background-color: linear-gradient(to right, #2ecc71, #27ae60);
    -fx-background-radius: 12px;
    -fx-border-radius: 12px;
    -fx-border-color: #1e8449;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 8px 15px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0.3, 2, 2);
    -fx-transition: all 0.3s;
}

.button:hover {
    -fx-background-color: linear-gradient(to right, #27ae60, #2ecc71);
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-cursor: hand;
}

.button:pressed {
    -fx-border-color: red;
    -fx-translate-y: 2px;
    -fx-scale-x: 0.95;
}

#eachImage {
    -fx-cursor: hand;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 8, 0.3, 3, 3);
    -fx-padding: 6px;
     -fx-background-color: linear-gradient(to right, black, black);
    -fx-border-color: #cc4444;
}

#eachImage:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.3, 5, 5);
}

#EachLabel, #ColorChangeTopMenu {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 5px;
    -fx-pref-width: 160px;
    -fx-text-fill: #2c3e50;
    -fx-background-radius: 8px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0.3, 2, 2);
}

#EachLabel:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-cursor: hand;
    -fx-background-color: #d5dbdb;
}


#nevLabs {
    -fx-font-size: 30px;
    -fx-background-color: linear-gradient(to right, #FF512F, #F09819);
    -fx-background-radius: 25px;
    -fx-padding: 10px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-color: #e74c3c;
    -fx-border-radius: 25px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.3, 5, 5);
}

#nevLabs:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 15, 0.3, 8, 8);
    -fx-background-color: linear-gradient(to right, #ff9966, #ff5e62);
}
#Customization
{
   -fx-background-color: linear-gradient(to right, #00c6ff, #0072ff);
}
#controlAndRows
{
    -fx-background-color: linear-gradient(to right, #00c6ff, #0072ff);
}
#Background
{
    -fx-background-color: linear-gradient(to right, #00c6ff, #0072ff);
}
